    :root {
            --primary: hsl(0, 0%, 98%); 
            --success: #10b981; 
            --warning: #f59e0b; 
            --danger: #ef4444; 
            --white: hsl(120, 1%, 36%);
            --light: #fafcff; 
        }


        * { margin: 0; padding: 0; box-sizing: border-box; }

        body {
            font-family: 'Segoe UI', sans-serif;
            background: var(--primary);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        .container {
            background: var(--white);
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 20px 40px rgba(0,0,0,0.2);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        h1 { 
            color: #ffffff ;
            margin-bottom: 25px; 
            font-size: 24px; 
        }

        .input-group {
            margin-bottom: 15px; text-align: left;
        }

        label {
            display: flex; align-items: center; gap: 8px;
            margin-bottom: 8px; color:whitesmoke ; font-weight: 600;
        }

        input, select {
            width: 100%; padding: 12px; border: 2px solid #e9ecef;
            border-radius: 10px; font-size: 16px; transition: border-color 0.3s;
        }

        input:focus, select:focus { 
            outline: none; border-color: #fcfcfd; 
        }

        button {
            width: 100%; padding: 14px; background: rgb(244, 219, 138);
            color: rgb(11, 11, 11); border: none; border-radius: 10px;
            font-size: 16px; font-weight: 600; cursor: pointer;
            transition: transform 0.2s;
        }

        button:hover { transform: translateY(-2px); }

        .result {
            margin-top: 20px; padding: 20px; border-radius: 12px;
            text-align: center; opacity: 0; transform: translateY(10px);
            transition: all 0.4s; border: 2px solid transparent;
        }

        .result.show { opacity: 1; transform: translateY(0); }

        .result.normal { background: var(--success); color: #e5ff1f; border-color: lab(97.58% 0.01 -0.01); }
        .result.moderate { background: var(--warning); color: #856404; border-color: #e8bc2b; }
        .result.obese { background: var(--danger); color: #871521; border-color: #ea3c4d; }

        .bmi-value { font-size: 32px; font-weight: 800; margin: 10px 0; }
        .category { font-size: 18px; font-weight: 700; margin-bottom: 10px; }
        .calc-info { font-size: 14px; opacity: 0.9; }

        @media (max-width: 480px) {
            .container { padding: 25px 20px; margin: 10px; }
            h1 { font-size: 22px; }
            .bmi-value { font-size: 28px; }
        }
